.container-form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 230px 0px;
    background-color: #e6e8f1;
    position: relative;
  }
  
  .sphere {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #74cf6c91, #cbe5d0bd, transparent);
    position: absolute;
    left: 55%;
    top: 32%;
  }

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 50px -12px rgb(0 0 0 / 42%);
}
.login-img {
  width: 500px;
  border-radius: 30px;
}
.form-input {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-login h1 {
  padding: 10px 20px;
}
.form-parrafo{
  padding: 10px 20px;
}
.form-input input {
  border: none;
  height: 30px;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 15px;
  margin: 10px 0px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 30px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
